extend template

block Contenido

 Section(class="row")
    each item in data
        article(class="col-xs-12 col-sm-6 col-md-3 card")
            img(src=item.thumbnailUrl, alt="")
            div(class="card-body")
            h2(class="card title") Album: #{item.album}
            h3 Artista: #{item.artist}
            a(href=`/albums?id=${item.id}` class="btn btn-primary") View album info
