.img-title {
    width: 12%;
}

/*section{
    display: grid;
    grid-template: auto / repeat(3,30%);
}
*/

/*article{
    border: 1px solid green;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
}


   

/*
main {
    display: flex;
    flex-direction: row;
}
*/